body {
	font-family: 'JetBrains Mono', monospace;
	font-size: 24px;
	overflow-x: hidden;
}
@media only screen and (max-width: 600px) {
	body {
		font-size: 14px;
	}
}

main {
	container-type: inline-size;

	display: grid;
	grid-template-rows: repeat(5, min-content);
	grid-template-columns: minmax(60vw, 800px);
	align-items: center;
	justify-content: center;

	margin: 0;
	padding: 0 10px;
}

.scores {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
}
.scores > * {
	margin: 5px;
}

@container (max-width: 600px) {
	.scores {
		grid-template-columns: repeat(1, 1fr);
	}
}

all-interactions {
	margin-top: 2em;
}

demo-viewer {
	margin-top: 1em;
}